<div class="notice--wizard-complete js--notice">
    <span class="notice__message">You have successfully set up the app</span>
    <button class="notice__clear js--notice__clear">
        <%- include('../icons/close', {className: 'notice__clear-icon'}); %>
    </button>
</div>