                    </div>
                <div class="email__footer">
                    <span class="email__pseudo-button">
                        <%- include('../icons/reply', {className: 'email__action-icon'}); %>
                        Reply
                    </span>
                    <span class="email__pseudo-button">
                        Forward
                        <%- include('../icons/forward', {className: 'email__action-icon'}); %>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/app.js"></script>
</body>