        </div>
        <footer class="footer">
            <%- include('../icons/cronofy', {className: 'footer__logo'}); %>
            <span class="footer__credit">Powered by <a href="https://www.cronofy.com/">Cronofy</a></span>
        </footer>
    </div>
    <script src="/assets/app.js"></script>
</body>
</html>