<!DOCTYPE html>
<html lang="en">
<%- include('./head', { page_title: page_title }); %>
<body>
    <header class="header">
        <span class="visuallyhidden"><%= page_title ? page_title : "UI Elements Demo" %></span>
    </header>
    <%- include('../modules/nav', {active: typeof active !== 'undefined' ? active : "/"}); %>
    <div class="wrapper__outer">
        <div class="wrapper__inner">