<!DOCTYPE html>
<html lang="en">
<%- include('./head', { page_title: page_title }); %>
<body>
    <header class="header">
        <span class="visuallyhidden"><%= page_title ? page_title : "UI Elements Demo" %></span>
    </header>
    <div class="confirm__header">
        <a class="confirm__back" href="/">Back to demo app</a>
        <span>Candidate view</span>
    </div>
    <div class="wrapper__outer wrapper__outer--confirm">
        <div class="wrapper__inner">