<!DOCTYPE html>
<html lang="en">
<%- include('./head', { page_title: page_title }); %>
<body>
    <header class="header">
        <span class="visuallyhidden"><%= page_title ? page_title : "Cronofy Developer Demo" %></span>
    </header>
    <div class="wrapper__outer">
        <div class="wrapper__inner">