<ul class="wizard-progress">
    <% for ( var i = 1; i <= total; i++) { %>
        <li class="wizard-progress__item <% if (current === i) { %>wizard-progress__item--current<% } %>"><%= i %></li>
    <% } %>
</ul>