<%- include('../modules/email-header', { page_title: "Cronofy email: schedule your interview", from, subject }); %>
    <input type="text" name="query" class="visuallyhidden" value="<%= query %>">
    <p>Hi, Nitithorn Prinya</p>
    <p>Thank you for your application to the role of <strong>Project Manager</strong>. The hiring manager at Evenitron would like to invite you to an interview.</p>
    <p>Please use the link below to view our availability and schedule a time that works for you:</p>
    <button type="submit" class="button email__cta">Schedule your interview</button>
    <p>Thank you for your interest in this role. We look forward to meeting you.</p>
    <p>Regards,</p>
    <p>The Evenitron hiring team.</p>
<%- include('../modules/email-footer', {}); %>