<%- include('../modules/header', {page_title: 'Home', active: "/"}); %>

<div class="page__wrapper">
    
    <div class="block block--border block--ats-header">
        <%- include('../icons/cronofy', {className: 'ats__icon'}); %>
        <div class="ats__title">
            <h1 class="ats__title-heading">Cronofy Developer Demo</h1>
            <div class="ats__meta">
                <span class="ats__meta-value">Schedule an event with the Cronofy API.</span>
            </div>
        </div>
    </div>

    <div class="block block--grid">

        <div class="person person--third">
            <div class="person__meta">
                <h3 class="person__name">Settings</h3>
                <span class="person__meta-item">Connect calendar profiles and define your working hours</span>
            </div>
            <a href="/settings" class="button button--centered">Edit settings</a>
        </div>
        
        <div class="person person--third">
            <div class="person__meta">
                <h3 class="person__name">Share</h3>
                <span class="person__meta-item">Share your availability and book an event</span>
            </div>
            <a href="/settings" class="button button--centered">Share</a>
        </div>

</div>

<%- include('../modules/footer'); %>
