.select__wrapper {
    border: 0.1rem solid $brand_blue;
    border-radius: 0.5em;
    padding: 0.5em;
    display: block;
    background: $white;
    height: 2em;
    line-height: 1;
    position: relative;
    overflow: hidden;
}

.select__wrapper select {
    font-family: $display;
    color: $black;
    display: block;
    font-size: 1em;
    padding: 0.5em;
    cursor: pointer;
    line-height: 1;
    background: transparent;
    border-radius: 0;
    border: 0;
    position: absolute;
    top: 0.2em;
    width: 120%;
    right: -20%;
    &:focus {
        outline: none;
    }
}

.select__wrapper--has-icon {
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        user-select: none;
        pointer-events: none;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.select__wrapper--has-icon select {
    padding-left: 4rem;
}

.select__wrapper--has-icon--world:before {
    background-image: url('data:image/svg+xml;utf8,<svg fill="#{$icon_secondary}" width="10px" height="10px" viewBox="0 0 21 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="timezone_3">
                <path d="M17.8626254,3.07259422 C15.8863002,1.09121126 13.2586525,0 10.4636678,0 C7.66872405,0 5.04107634,1.09117028 3.06475108,3.07259422 C1.08842582,5.05397718 0,7.68834942 0,10.4904459 C0,13.2925423 1.08842582,15.9269555 3.06475108,17.9083385 C5.04107634,19.8897214 7.66872405,20.9808917 10.4636678,20.9808917 C13.2586525,20.9808917 15.8863002,19.8897214 17.8626254,17.9083385 C19.8389098,15.9269555 20.9273356,13.2925423 20.9273356,10.4904459 C20.9273356,7.68834942 19.8389098,5.05397718 17.8626254,3.07259422 Z M7.33830104,1.77542601 C7.01212889,2.19270808 6.70843728,2.6792025 6.43258067,3.23232765 C5.5338497,5.03443053 5.00882699,7.37408681 4.93472297,9.8757713 L1.24705666,9.8757713 C1.49270761,6.13629615 3.96180623,2.99621066 7.33830104,1.77542601 Z M1.24705666,11.1051204 L4.93476384,11.1051204 C5.00882699,13.6067639 5.5338497,15.9464612 6.43262154,17.7485641 C6.70847816,18.3017302 7.01221064,18.7882246 7.33838279,19.2055067 C3.96180623,17.9846811 1.49270761,14.8445956 1.24705666,11.1051204 Z M9.85056228,19.6485231 C9.00337305,19.3650762 8.18168901,18.5068266 7.52934472,17.1987582 C6.71272902,15.56147 6.23368923,13.4166246 6.16138365,11.1051204 L9.85056228,11.1051204 L9.85056228,19.6485231 Z M9.85056228,9.8757713 L6.16142452,9.8757713 C6.2337301,7.56426712 6.7127699,5.4194217 7.52934472,3.78209258 C8.18168901,2.47410609 9.00337305,1.61581551 9.85056228,1.33236858 L9.85056228,9.8757713 Z M11.0767734,19.7306437 L11.0767734,11.9743932 L11.887585,12.7872798 C12.0073041,12.9073053 12.1642182,12.9673385 12.3210915,12.9673385 C12.4780056,12.9673385 12.6349198,12.9073462 12.754598,12.7872798 C12.9940361,12.5472289 12.9940361,12.1580579 12.754598,11.918007 L11.3307217,10.4904459 L12.7546388,9.06288468 C12.994077,8.82283377 12.994077,8.43366282 12.7546388,8.19361191 C12.5152416,7.95356101 12.1270231,7.95356101 11.887585,8.19361191 L11.0767734,9.00649853 L11.0767734,1.25024806 C15.8855236,1.56774796 19.7011246,5.59046514 19.7011246,10.4904459 C19.7011246,15.3904266 15.8855236,19.4131438 11.0767734,19.7306437 Z" id="Shape" fill-rule="nonzero"></path>
                <path d="M14.1294394,15.3983851 C14.0406251,15.3096931 13.9182636,15.2588303 13.7930167,15.2588303 C13.6677697,15.2588303 13.5453765,15.3096931 13.4565939,15.3983851 C13.3681283,15.487077 13.3173954,15.6101013 13.3173954,15.7356688 C13.3173954,15.8612362 13.3681283,15.9839427 13.4565939,16.0726346 C13.5450595,16.1616445 13.6677697,16.2125072 13.7930167,16.2125072 C13.9182636,16.2125072 14.0409739,16.1616445 14.1294394,16.0726346 C14.217905,15.9839427 14.2686379,15.8612362 14.2686379,15.7356688 C14.2686379,15.6101013 14.217905,15.4873949 14.1294394,15.3983851 Z" id="Path"></path>
                <path d="M16.0316391,13.4910313 C15.9431736,13.4023393 15.8204633,13.3514765 15.6955017,13.3514765 C15.5702865,13.3514765 15.4475762,13.4023393 15.3591107,13.4910313 C15.2706451,13.5797232 15.2198805,13.7027475 15.2198805,13.828315 C15.2198805,13.9538825 15.2706451,14.0769068 15.3591107,14.1655987 C15.4475762,14.2542907 15.5702865,14.3051534 15.6955017,14.3051534 C15.8204316,14.3051534 15.9431736,14.2542907 16.0316391,14.1655987 C16.1204218,14.0765889 16.171123,13.9538825 16.171123,13.828315 C16.171123,13.7027475 16.1203901,13.5800411 16.0316391,13.4910313 Z" id="Path"></path>
                <path d="M16.983167,9.67632368 C16.8943844,9.58763173 16.7719912,9.53676896 16.6467443,9.53676896 C16.5214973,9.53676896 16.3991041,9.58763173 16.3103532,9.67632368 C16.2218876,9.76533353 16.171123,9.88803995 16.171123,10.0136074 C16.171123,10.1391749 16.2218876,10.2618813 16.3103532,10.3508911 C16.3991358,10.4395831 16.5214973,10.4904459 16.6467443,10.4904459 C16.7719912,10.4904459 16.8944161,10.4395831 16.983167,10.3508911 C17.0716326,10.2618813 17.1223655,10.1391749 17.1223655,10.0136074 C17.1223655,9.88803995 17.0716326,9.76533353 16.983167,9.67632368 Z" id="Path"></path>
                <path d="M16.0316391,6.81529299 C15.9431736,6.72660104 15.8207804,6.67573827 15.6955017,6.67573827 C15.5702865,6.67573827 15.4475762,6.72660104 15.3591107,6.81529299 C15.2706451,6.90430284 15.2198805,7.02700926 15.2198805,7.15257672 C15.2198805,7.27814418 15.2706451,7.40085061 15.3591107,7.48986045 C15.4475762,7.5785524 15.5702865,7.62941517 15.6955017,7.62941517 C15.8207487,7.62941517 15.9431736,7.5785524 16.0316391,7.48986045 C16.1204218,7.40085061 16.171123,7.27814418 16.171123,7.15257672 C16.171123,7.02700926 16.1203901,6.90430284 16.0316391,6.81529299 Z" id="Path"></path>
                <path d="M14.1294394,4.90825709 C14.0406251,4.81924725 13.9182636,4.76838448 13.7930167,4.76838448 C13.6677697,4.76838448 13.5450595,4.81924725 13.4565939,4.90825709 C13.3681283,4.99694904 13.3173954,5.11965547 13.3173954,5.24522293 C13.3173954,5.37079039 13.3681283,5.49381471 13.4565939,5.58250666 C13.5454082,5.67119861 13.6677697,5.72206138 13.7930167,5.72206138 C13.9182636,5.72206138 14.0406568,5.67119861 14.1294394,5.58250666 C14.217905,5.49349682 14.2686379,5.37079039 14.2686379,5.24522293 C14.2686379,5.11965547 14.217905,4.99694904 14.1294394,4.90825709 Z" id="Path"></path>
            </g>
        </svg>');
}
