html {
    min-height: 100%;
    height: 100%;
}
body {
    min-height: 100%;
    min-width: 300px;
    display: flex;
    align-items: stretch;
}

.nav__wrapper {
    flex-grow: 0;
    width: 100px;
}

.wrapper__outer {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.wrapper__inner {
    flex-grow: 1;
    width: 90%;
    margin: 20px auto;
    max-width: 940px;
}

.footer {
}

.block--columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block--grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

*[class*="--third"] {
    width: 32%;
    flex-grow: 0;
}
*[class*="--half"] {
    width: 48%;
    flex-grow: 0;
}

*[class*="--centered"] {
    text-align: center;
}
