//=====================================
// #TABLE
//=====================================
table {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
    width: 100%;
    border-collapse: collapse;
    display: table;
    max-width: 100%;
    overflow-x: auto;
    border-top: 0.2rem solid $hairline;

    th:first-child,
    th:first-child {
        text-align: left;
    }

    tr {
        border-bottom: 0.2rem solid $hairline;
    }

    td,
    th {
        border-right: 0.2rem solid $hairline;
        padding: 1rem;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.5;
        vertical-align: middle;
    }

    thead th {
        background: $aside_bg;
        border: 0;
    }

    tbody td:last-of-type {
        border: 0;
    }

    th:first-of-type {
        padding-left: 0;
    }
}
