label {
    @extend h2;
    display: block;
    margin-bottom: 10px;
}

input {
    font-size: 22px;
    font-family: $text;
    display: block;
    width: 100%;
    border: 1px solid $hairline;
    padding: 10px;
    border-radius: 6px;
    color: $black;
    &:focus {
        outline: none;
        border: 1px solid $brand_blue;
    }
}

.input__wrapper {
    position: relative;
}

.input__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-20px, -50%);
    fill: $brand_blue;
    width: 14px;
    height: 20px;
}

input:focus + .input__icon {
    animation: icon_bounce 0.4s linear infinite;
}

@keyframes icon_bounce {
    0% {
        transform: translate(-20px, -50%);
    }
    50% {
        transform: translate(-16px, -50%);
    }
    100% {
        transform: translate(-20px, -50%);
    }
}
