.AV_team,
.AV1 {
    position: relative;
    z-index: 1;
}

.AV_team .AV_team__week > div:nth-of-type(2),
.AV1 .AV1__week > div:nth-of-type(2) {
    background: $white;
}

.AV1 .AV1__selected-slot {
    border-color: $teal;
    &:hover {
        border-color: $teal__dark;
    }
}

.AV_team .AV_team__selected-slot__button,
.AV1 .AV1__selected-slot__button {
    background: $teal;
    font-size: 16px;
    &:hover {
        background: $teal__dark;
    }
}

.AV_team .AV_team__navigation,
.AV_team .AV_team__hover-slot,
.AV_team .AV_team__selected-slot {
    display: none;
}
