.email__nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    a {
        color: $black;
    }
}

.wrapper__outer--email {
    // background-image: linear-gradient(to top left, $white, $/grey__tint);
}

.wrapper__outer--email .wrapper__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email__container {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(black, 0.2) 0 4px 8px 2px;
    background: $white;
    font-family: sans-serif;
}

.email__header {
    border-bottom: 1px solid $grey__tint;
    font-size: 16px;
    padding: 10px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.email__header-inner {
    width: 100%;
}

.email__subject {
    // padding: 10px;
    font-size: 22px;
}

.email__meta {
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding-top: 10px;
    justify-content: stretch;
    align-items: center;
}

.email__meta-item {
    margin-right: 10px;
    flex-grow: 0;
    &:last-of-type {
        margin-right: 0;
        flex-grow: 1;
        text-align: right;
    }
}

.email__meta-icon {
    display: block;
    width: 32px;
    height: 32px;
    fill: $grey__dark;
    margin-right: 10px;
    flex-grow: 0;
}

.email__body {
    padding: 10px;
}

.email__cta {
    margin-bottom: 16px;
    font-family: sans-serif;
}

.email__footer {
    padding: 10px;
    border-top: 1px solid $grey__tint;
    display: flex;
}

.email__pseudo-button {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    line-height: 1;
    color: $grey__dark;
    border: 1px solid $grey__dark;
    margin-right: 6px;
    cursor: not-allowed;
    font-size: 22px;
}

.email__action-icon {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 10px;
    fill: $grey__dark;
}
