.block {
    margin-bottom: 30px;
}

.block--border {
    background: $white;
    border: 1px solid $grey__tint;
    padding: 10px;
    border-radius: 8px;
}

.block--hidden {
    display: none;
}

.block__label {
    width: 20%;
    margin-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}
.block__content {
    flex-grow: 1;
}

.block--ats-header {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.ats__icon {
    fill: $teal;
    width: 40px;
    display: block;
    flex-grow: 0;
    margin: 20px;
}

.ats__title {
    flex-grow: 1;
}
.ats__title-heading {
    font-size: 22px;
    margin-bottom: 6px;
}

.ats__meta {
    flex-grow: 0;
    min-width: 120px;
}

.ats__meta-label {
    display: block;
    font-size: 14px;
    color: $grey__dark;
}

.ats__meta-value {
    display: block;
    font-size: 18px;
}

.helper-text {
    font-size: 18px;
    line-height: 24px;
    display: block;
    margin: 10px 0;
    color: $grey__dark;
    max-width: 20em;
}
