.block--radio {
    display: flex;
    justify-content: space-between;
}

.radio-group label {
    border: 1px solid $grey__tint;
    background: $grey__light;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 120px;
    border-radius: 8px;
    font-weight: normal;
}

.radio-group {
    input[type="radio"] {
        display: none;
    }
    input[type="radio"]:checked + label {
        border-color: $teal;
        border-width: 2px;
        background: $white;
    }
}

.radio__icon {
    fill: $grey__dark;
    height: 30px;
    display: block;
    margin-bottom: 10px;
}
.radio-group input[type="radio"]:checked + label .radio__icon {
    fill: $teal;
}

.radio__title {
    font-size: 22px;
    margin-bottom: 4px;
}
.radio__description {
    font-size: 16px;
    color: $grey__dark;
}
