.footer {
    padding: 20px 0 40px;
}

.footer__logo {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    display: block;
    margin-bottom: 4px;
}

.footer__credit {
    display: block;
    font-size: 10px;
    color: $text_menu;
    text-align: center;
}
