.error__wrapper {
    padding: 40px 0;
}

.error__title {
}

.error__body {
    border: 2px dashed $red;
    border-radius: 4px;
    font-family: $code;
    padding: 20px 10px;
    margin: 10px 0;
    overflow: scroll;
    background: $aside_bg;
    font-size: 12px;
}

.error__link {
}
