.wrapper__outer--confirm {
    padding-top: 100px;
}

.confirm__header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $orange;
    z-index: 4;
    font-weight: bold;
    color: $white;
}

.confirm__back {
    position: absolute;
    font-weight: normal;
    top: 0;
    left: 0;
    padding: 10px;
    color: $black;
}
