// COLOURS

// "The New Defaults"
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #ddd;
$grey: #aaa;
$black: #111;

// Project Colours
$black: #4d4d4d;
$mid: #9d9d9d;
$white: #ffffff;
$cream: #efeeeb;
$grey: #dad8d2;

$aside_bg: #f5f7f9;
$hairline_solid: #889da9;
$hairline: #b7c4cb; //rgba($hairline_solid, 0.3);
$aside_focus_bg: #d9dcde;
$icon_secondary: #969696;
$text_black: #4d4d4d;
$text_menu: #5f5f5f;
$text_secondary: #a5a7a8;
$text_navy: #0d2b3e;
$brand_blue: #15b3d6;
$brand_blue_dark: #1297b5;
$brand_purple: #cb359b;
$brand_yellow: #f9cd53;
$brand_teal: #397a76;
$brand_red: #c7254e; // red
$brand_green: #17be7c; // green
$brand_orange: $orange;
$flag_orange: hsl(28, 100, 80);

$teal: #15b3d6;
$teal__light: #c8e9f2;
$teal__dark: #1086a1;
$grey__tint: #b7c4cb;
$grey__light: #f5f7f9;
$grey__mid: #cccccc;
$grey__dark: #999999;
$black: #4d4d4d;
$orange: #f5a623;

$red: #dc3e15;
$green: #7ed321;
$orange: #f5a623;

// Selection Colours
::selection {
    color: $white;
    background: $black;
}
a::selection {
    color: $black;
    background: $white;
}
