// Calendar Sync: wizard-1
.wizard-1 .wizard-1__title {
    display: none;
}
.wizard-1 .wizard-1__provider-auth {
    border-color: $hairline;
}
.wizard-1 .wizard-1__status--active {
    border-bottom: none;
}

// Calendar Sync: wizard-2
.wizard-2 {
    margin-bottom: 0 !important;
}
.wizard-2 .wizard-2__title {
    display: none;
}
.wizard-2 .wizard-2__profiles {
    border-bottom: none;
    margin-bottom: 0;
}
.wizard-2 .wizard-2__footer {
    display: none;
}

// wizard-3__submit
.wizard-3 .wizard-3__submit {
    @extend .button;
    flex-shrink: 0;
    width: 236px;
}
