<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Availability: Cronofy Developer Demo</title>

    <link href="/app.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper__outer">
        <div class="wrapper__inner">

            <a href="/" class="link--secondary">Back to homepage</a>

            <h1>Book an event</h1>
            <p>Pick a day and time that works for you</p>

            <div class="element__wrapper">
                <div id="cronofy-date-time-picker"></div>
            </div>

        </div>

        <script src="https://elements.cronofy.com/js/CronofyElements.v1.56.2.js"></script>
        <script>

            const dateTimePickerOptions = {
                element_token: "<%= element_token %>",
                data_center: "<%= data_center %>",
                target_id: "cronofy-date-time-picker",
                availability_query: {
                    participants: [
                        {
                            required: "all",
                            members: [
                                { sub: "<%= sub %>" }
                            ]
                        }
                    ],
                    required_duration: { minutes: 60 },
                    available_periods: [
                        { start: "2020-11-03T09:00:00Z", end: "2020-11-03T10:00:00Z" },
                        { start: "2020-11-03T15:00:00Z", end: "2020-11-03T17:30:00Z" }
                    ]
                },
                callback: res => {
                    if (res.notification.type !== "slot_selected") return;

                    const slot = JSON.stringify(res.notification.slot);
                    window.location.href = `/submit?slot=${slot}`;
                }
            };

            if ("<%= element_token %>" !== "invalid") {
                CronofyElements.DateTimePicker(dateTimePickerOptions);
            } else {
                const errorMessageWrapper = document.querySelector('#cronofy-date-time-picker');
                errorMessageWrapper.innerHTML = "<span class='error'>There was a problem generating the element token. Check that your <code>CLIENT_ID</code>, <code>CLIENT_SECRET</code>, and <code>SUB</code> environment variables are correct.</span>"
            }

        </script>

        <footer class="footer">
            <svg class='footer__logo' width="971" height="971" viewBox="0 0 971 971" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path id="Path" fill="#ffffff" stroke="none" d="M 122.3909 37.413818 L 706.299011 37.413818 C 785.015015 37.413818 848.828003 101.226013 848.828003 179.942993 L 848.828003 933.966003 L 444.230011 933.966003 C 266.483002 933.966003 122.3909 789.872986 122.3909 612.125977 L 122.3909 37.413818 Z"/>
                <path id="path1" fill="#161a1e" fill-rule="evenodd" stroke="none" d="M 85.609131 0.632202 L 706.299011 0.632202 C 805.328979 0.632202 885.609009 80.912231 885.609009 179.942993 L 885.609009 970.747009 L 444.230011 970.747009 C 246.169006 970.747009 85.609131 810.187012 85.609131 612.125977 L 85.609131 0.632202 Z M 122.390701 37.413818 L 122.390701 612.125977 C 122.390701 789.872986 266.483002 933.966003 444.230011 933.966003 L 848.828003 933.966003 L 848.828003 179.942993 C 848.828003 101.226013 785.015015 37.413818 706.299011 37.413818 L 122.390701 37.413818 Z"/>
                <path id="path2" fill="#ffffff" stroke="none" d="M 122.390602 179.942993 L 848.827026 179.942993 L 848.827026 933.966003 L 444.230011 933.966003 C 266.483002 933.966003 122.390602 789.872986 122.390602 612.127014 L 122.390602 179.942993 Z"/>
                <path id="path3" fill="#ff0044" stroke="none" d="M 122.390602 37.413818 L 706.299011 37.413818 C 785.015015 37.413818 848.827026 101.226013 848.827026 179.942993 L 848.827026 179.942993 L 122.390602 179.942993 L 122.390602 37.413818 Z"/>
                <path id="path4" fill="#161a1e" stroke="none" d="M 497.98999 789.965027 C 604.840027 789.965027 689.161987 730.103027 714.908997 635.482971 L 619.64502 603.299011 C 606.770996 657.367981 557.85199 693.414001 497.98999 693.414001 C 418.174011 693.414001 362.174011 636.77002 362.174011 556.953979 C 362.174011 476.493988 418.816986 420.494019 497.98999 420.494019 C 555.920959 420.494019 602.908997 453.322021 616.427002 505.459991 L 709.76001 471.988007 C 684.013 381.22998 602.908997 323.942993 497.98999 323.942993 C 361.529999 323.942993 261.115997 423.06897 261.115997 556.953979 C 261.115997 690.838989 361.529999 789.965027 497.98999 789.965027 Z"/>  
                </svg>   
            <span class="footer__credit">Powered by <a href="https://www.cronofy.com/">Cronofy</a></span>
        </footer>
    </div>
</body>
</html>
